>.y-container {
  >.y-header {
    justify-content: flex-start;
  }

  >.y-container--tight {
    padding: 0 24px;

    .el-table {
      &::before {
        content: none;
      }
    }
  }
}

.base-pagination {
  align-self: flex-end;
  padding: 24px 8px;
}