// 变量
@import './variables.scss';
// 混入
@import './mixin.scss';
// y系列公共样式
@import './y-style.scss';
// Element覆盖样式
@import './resetElement.scss';



// 全局公共样式
[v-cloak] {
  display: none !important;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html {
  font-size: 10px;
  height: 100%;
}

body {
  font-size: 1.4rem;
  height: 100%;
  color: $txtColor;
  overflow: hidden;
}

body {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", Tahoma, Arial, sans-serif;
}

a {
  text-decoration: none;
}

/* h1,h2,h3,h4,h5,h6{font-weight: 400;} */
hr {
  background-color: #ddd;
  height: 1px;
  border: none;
}

input,
select {
  outline: 0;
}

ul {
  list-style: none;
}

#app {
  @include full;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: transparent;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #C1C1C1;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #A8A8A8;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}


// 过渡样式
/* fade-transform */
.fade-transform-leave-active,
.fade-transform-enter-active {
  transition: all .5s;
}

.fade-transform-enter {
  opacity: 0;
  transform: translateX(-30px);
}

.fade-transform-leave-to {
  opacity: 0;
  transform: translateX(30px);
}